body{
    margin: 0px;
}

#title {
    background-color: red;
    color: white;
    white-space: nowrap;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

#reset{
    display: inline;
    margin-bottom: 15px;
}

#loadJSON{
    display: inline;
    margin-bottom: 15px;
}

.templateTextArea{
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
}

#test{
    display: inline;
}