/* Copyright 2016 TBD */
/* https://github.com/rdbrck/jira-description-extension/blob/master/LICENSE */

nav {
    line-height: normal;
}

main {
    margin-bottom: 40px;
}

.container {
    width: 95%;
}

.section {
    padding-top: 0;
    padding-bottom: 0;
}

.row {
    height: 37px;
    margin-bottom: 10px;
}

.valign-wrapper {
    height: inherit;
}

.divider {
    margin-bottom: 10px;
    overflow: visible;
}

/*noinspection CssUnusedSymbol*/
.toastNotification {
    opacity: 0.8 !important;
    min-height: 40px !important;
    max-height: 40px;
}

.collapsible-header.active i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.input-field {
    margin-top: 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.input-field .prefix.active {
    color: #b71c1c;
}

.input-field .prefix ~ textarea {
    width: calc(100% - 4rem) !important;
}

/*noinspection CssUnusedSymbol*/
input[type=text].valid {
    border-bottom: 1px solid #b71c1c !important;
    box-shadow: 0 1px 0 0 #b71c1c !important;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #b71c1c !important;
    box-shadow: 0 1px 0 0 #b71c1c !important;
}

textarea.materialize-textarea {
    padding: 0;
    min-height: 0;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #b71c1c !important;
    box-shadow: 0 1px 0 0 #b71c1c !important;
}

.modal.bottom-sheet {
    overflow: visible;
    max-height: 55% !important;
}

.modal-content {
    padding: 5px 0 !important;
}

.dropdown-content {
    width: inherit;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: black;
}

.dropdown-content li>a:hover, .dropdown-content li>span {
    color: #b71c1c;
}

.zpr {
    padding-right: 0 !important;
}

.zpl {
    padding-left: 0 !important;
}

.text-center{
  text-align: center;
}

.addTemplateLabel {
    padding-left: 10px;
}
[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #b71c1c !important;
    background-color: #b71c1c !important;
}

#subTitle {
    font-size: x-small;
    margin-bottom: 0;
    margin-top: 0;
}

#mainTitle {
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: -50px;
}

#jsonURLInput {
    margin-bottom: 0 !important;
    border-bottom-color: #b71c1c !important;
}

#templateEditorTitle {
    padding-top: 5px;
    font-weight: bold;
}

#addDefaultDropdownRow {
    margin-top: 10px;
}

#addDefaultDropdown {
    bottom: 16px;
    top: inherit !important;
    max-height: calc(100vh - 95px);
}

#addCustomTemplate {
    margin-left: -20px;
}

/*noinspection CssUnusedSymbol*/
#issueTypeField{
    width: 90%;
}

#logoIcon{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

#help {
    height: 25px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}