git-private-key: |
  -----BEGIN RSA PRIVATE KEY-----
  <git private RSA key here>
  -----END RSA PRIVATE KEY-----
github-access-token:
  <github-access-token here>
s3-access-key-id:
  <S3 access key id here>
s3-secret-access-key:
  <S3 secret access key here>
s3-region:
  <S3 region here>
dm-app-id:
  <DM appId here>
google-client-id:
  <google-client-id here>
google-client-secret:
  <google-client-secret here>
google-client-refresh-token:
  <google-client-refresh-token here>
google-extension-id:
  <google-extension-id here>
google-extension-id-rdbrck:
  <google-extension-id-rdbrck here>
